.rcw-conversation-container .rcw-header {
    color: #fff;
    background-color: #808080;
}

.rcw-launcher {
    background-color: #808080;
}

.rcw-client .rcw-message-text {
    background-color: #DCDCDC;
}