env/
postgres_data/
minio_data/

frontend/node_modules
frontend/build

backend/*.pyc
backend/*.pyo
backend/*.mo
backend/*.db
backend/*.css.map
backend/*.egg-info
backend/*.sql.gz
backend/.cache
backend/.project
backend/.idea
backend/.pydevproject
backend/.idea/workspace.xml
backend/.DS_Store
backend/.sass-cache
backend/.vagrant/
backend/__pycache__
backend/dist
backend/docs
backend/env
backend/logs
backend/src/{{ project_name }}/settings/local.py
backend/src/node_modules
backend/web/media
backend/web/static/CACHE
backend/stats

.git/
.dockerignore
Dockerfile
Dockerfile.prod
