env/
postgres_data/
minio_data/

book_frontend/node_modules
book_frontend/build

book_site/*.pyc
book_site/*.pyo
book_site/*.mo
book_site/*.db
book_site/*.css.map
book_site/*.egg-info
book_site/*.sql.gz
book_site/.cache
book_site/.project
book_site/.idea
book_site/.pydevproject
book_site/.idea/workspace.xml
book_site/.DS_Store
book_site/.sass-cache
book_site/.vagrant/
book_site/__pycache__
book_site/dist
book_site/docs
book_site/env
book_site/logs
book_site/src/{{ project_name }}/settings/local.py
book_site/src/node_modules
book_site/web/media
book_site/web/static/CACHE
book_site/stats

.git/
.dockerignore
Dockerfile
Dockerfile.prod
